# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==================================================
# Test
# ==================================================

.pytest_cache/

.coverage
htmlcov/

# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
env/

# ==================================================
# Environment Variables
# ==================================================

.env
.env.*
!.env.example

# ==================================================
# IDE
# ==================================================

.vscode/
.idea/

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Runtime Output
# ==================================================

output/
